:root {
    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);

    --color-fg: #293241;
    --color-bg: #E0FBFC;
    --color-a: #EE6C4D;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-bg);
    color: var(--color-fg);
    transition: background-color 0.3s ease;
    font-size: var(--step-0);
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-size: var(--step-2);
}

footer {
    background-color: var(--color-fg);
    padding: 20px 0;
    text-align: center;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

footer p {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-fg);
    padding: 20px 0;
    color: white;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    position: sticky;
    top: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--step--2);
    padding-right: var(--step--2);
}

.logo {
    margin: 0;
    font-size: var(--step-2);
    transition: color 0.3s ease;
}

.nav-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px;
}

.nav-menu li:last-child {
    margin-right: 0;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-size: var(--step-1);
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    filter: brightness(0.6);
    transition: 0.5s;
}


#projects {
    padding: 50px 0;
}

.project {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.project-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.project h3 {
    margin-top: 0;
    font-size: var(--step-1);
}

.project p {
    font-size: var(--step-0);
}

.project a {
    width: 90px;
    display: inline-block;
    background-color: var(--color-a);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: var(--step--1);
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.project a:hover {
    background-color: var(--color-a);
    filter: brightness(0.8);
}

.project-image {
    flex: 1;
    text-align: center;
    padding-left: 20px;
}

.project-image img {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.project:hover .project-image img {
    transform: scale(1.1);
}

#hero {
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--color-fg);
    filter: brightness(1.2);
    color: white;
    padding: 100px 0;
    text-align: center;
    z-index: 0;
    overflow: hidden;
}

.hero-content {
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-text {
    flex: 1;
    font-size: var(--step-3);
}

.hero-image {
    transition: 3s;
    flex: 0.6;
}

.hero-image img {
    object-position: center 20%;
    width: 500px;
    height: 500px;
    object-fit: cover;
    border-radius: 50%;
}

.hero-image:hover {
    transform: scale(1.2);
    transition: 3s;
}

.projects-container {
    display: flex;
}

.project {
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    flex: 1;
}

.project:last-child {
    margin-right: 0;
}

.project-image {
    text-align: center;
}

.project-image img {
    max-width: 100%;
    height: auto;
}